<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/logo.webp" alt="logo">

            <!-- menu -->
            <ul id="menu-utama">
                <li><a href="index.html">home</a></li>
                <li><a href="index.html">nasional</a></li>
                <li><a href="index.html">internasional</a></li>
                <li><a href="index.html">ekonomi</a></li>
            </ul>

            <!-- form search -->
            <form action="#">
                <input type="text" name="search">
            </form>
        </div>
       

        <div id="content">
            <div class="sub-artikel">
                <h2>7 Olahraga Ringan di Pagi Hari yang Mudah Dilakukan, Jadi Penambah Energi</h2>
                <a href="">CNN indonesia</a>
                <h6>april 10 2024</h6>

                <img src="../img/artikel_3.jpg" alt="">
                <p>Setiap orang memiliki waktu yang berbeda-beda dalam hal berolahraga. Namun, salah satu waktu terbaik untuk menggerakkan badan adalah di pagi. Selain mencegah Anda untuk kembali ke tempat tidur, olahraga di pagi hari juga memiliki manfaat.</p>
                <p>Ada banyak penelitian yang menunjukkan manfaat berolahraga di pagi hari, seperti meningkatkan suasana hati jadi lebih baik dan membantu meningkatkan energi untuk persiapan beraktivitas sepanjang hari.</p>
                <p>Seorang psikolog di Duke University telah meneliti efek olahraga pada pasien depresi dan dia sampai pada kesimpulan bahwa olahraga memiliki peran dalam mengobati kondisi mental mereka dan memiliki peran penting dalam mencegah orang dari kekambuhan.</p>
                <p>Selain itu, ada penelitian dari Appalachian State University yang menunjukkan bahwa tekanan darah dapat diturunkan dengan melakukan olahraga pagi secara teratur. Berolahraga pagi juga tidak harus melakukan latihan fisik yang berat. Anda bisa mencoba latihan pagi dengan beberapa olahraga ringan yang sederhana.Berikut adalah beberapa olahraga ringan di pagi hari yang dapat dilakukan dengan mudah untuk menjaga kebugaran dan tingkat energi Anda, dilansir dari lifehack.org.</p>
                <b><p>Berjalan atau Lari</p></b>
                <p>Olahraga ringan di pagi hari yang pertama adalah berjalan atau lari. Olahraga ini lebih baik dilakukan di luar sehingga Anda dapat terhubung dengan lingkungan, meskipun Anda juga dapat berlari di atas treadmill. Anda dapat mengatur waktu atau menambah rute sesuai dengan kebutuhan waktu Anda.</p>
                <p>Manfaat kesehatannya juga cukup besar. Anda dapat membangun tulang yang lebih kuat dan dapat membantu menjaga berat badan Anda. Juga, olahraga ini akan membantu jantung Anda tetap sehat dan menjaga tekanan darah tetap normal.</p>
            </div>
        </div>

        <div id="sidebar">
            <h2>who we are</h2>
            <p>kami adalah mahasiswa LPJ kampus cimone prodi KA yang sedang belajar membuat website portal sederhana menggunakan bahasa pemograman HTML</p>

                
            <h2>artikel berdasarkan kategori</h2>
            <ul>
                <li><a href="#">olahraga</a></li>
                <li><a href="#">politik</a></li>
                <li><a href="#">makanan</a></li>
            </ul>
        </div>
            
        <div id="footer">
            <p>NURAINI &copy; 2024</p>
        </div>
    </div>
</body>
</html>