<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/logo.webp" alt="logo">

            <!-- menu -->
            <ul id="menu-utama">
                <li><a href="index.html">home</a></li>
                <li><a href="index.html">nasional</a></li>
                <li><a href="index.html">internasional</a></li>
                <li><a href="index.html">ekonomi</a></li>
            </ul>

            <!-- form search -->
            <form action="#">
                <input type="text" name="search">
            </form>
        </div>
       

        <div id="content">
            <div class="sub-artikel">
                <h2>Manfaat Olahraga Bagi Kesehatan Mahasiswa</h2>

                <a href="">CNN indonesia</a>
                <h6>Date 19 JUNE 2023</h6>

                <img src="../img/artikel_2.jpeg" alt="">
                <p>Terdapat berbagai manfaat olahraga yang dapat ditemukan dalam kehidupan sehari-hari. Tentunya, olahraga yang dilakukan secara optimal, konsisten, dan menyesuaikan dengan kemampuan, dapat memberikan beragam manfaat baik bagi tubuh. Mulai dari memperlancar proses metabolisme, tubuh menjadi lebih bugar, dan dapat mencegah berbagai penyakit.</p>
                <p>Olahraga tentunya bermanfaat bagi semua kalangan, baik anak-anak, remaja, dewasa, sampai orang tua. Kebiasaan olahraga yang dibentuk dengan baik akan memberikan dampak baik pula, begitupun pada pelajar maupun mahasiswa.</p>
                <b><p>Manfaat Olahraga Bagi Mahasiswa</p></b>
                <p>Sebagai mahasiswa, tentunya Anda akan disibukkan dengan berbagai aktivitas pembelajaran dan penugasan. Tidak jarang, aktivitas tersebut membuat mahasiswa lebih banyak menghabiskan waktu untuk duduk, tanpa melakukan aktivitas fisik seperti olahraga dalam jangka waktu yang panjang.</p>
                <p>Tentunya, hal tersebut akan memberikan dampak negatif bagi kesehatan. Sehingga nantinya, tubuh bisa menjadi kurang prima, dan dapat memberikan gangguan bagi tubuh.</p>
                <p>Pada artikel ini, akan dibahas sejumlah manfaat olahraga bagi kesehatan yang diharapkan bisa memotivasi Anda untuk mulai melakukan olahraga. Tentunya, manfaat olahraga ini akan sangat berharga dan berperan bagi kesehatan tubuh Anda. Lantas, seperti apa manfaat olahraga tersebut? Berikut penjelasannya.</p>
                <b><p>Mencegah Obesitas</p></b>
                <p>Asupan makanan yang tidak terkelola dengan baik karena kurangnya aktivitas fisik, dan gizi seimbang. Dapat menyebabkan terjadinya obesitas, atau kenaikan berat badan dengan jumlah yang tidak normal. Maka dari itu, olahraga pun dapat menjadi solusi untuk mencegah penyakit ini.<p>
                <p>Karena dengan aktivitas olahraga, kalori dalam tubuh dapat terbakar. Sehingga nantinya tubuh dapat kembali mengelola asupan secara baik dan optimal.</p>

            </div>
        </div>

        <div id="sidebar">
            <h2>who we are</h2>
            <p>kami adalah mahasiswa LPJ kampus cimone prodi KA yang sedang belajar membuat website portal sederhana menggunakan bahasa pemograman HTML</p>

                
            <h2>artikel berdasarkan kategori</h2>
            <ul>
                <li><a href="#">olahraga</a></li>
                <li><a href="#">politik</a></li>
                <li><a href="#">makanan</a></li>
            </ul>
        </div>
            
        <div id="footer">
            <p>NURAINI &copy; 2024</p>
        </div>
    </div>
</body>
</html>